* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 237, 29);
    color: rgb(151, 2, 2);
}

#header  {
    width: 100%;
    height: 100vh;
    background-image: url("Images/goku.jpeg");
    background-size: cover;
    background-position: center;
}
.logo {
     padding: 10px 10;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li{
    color:aliceblue
    
}
nav ul li a::after {
   content: :'';
    width: 100%;
   height: 3px;
   background: #ff004f;
   position: absolute;
   left: 0;
   bottom: -6px;




}